<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page.title }}</h1>
  </header>

  <ul class="grid grid--flex grid--uniform">
    {% for collection in collections %}
      {%- if collection.template_suffix == 'artist-highlight' -%}
        {% include 'artist-grid-item', collection: collection, class: 'medium--one-half large-up--one-third' %}
      {%- endif -%}
    {% endfor %}
  </ul>

  <ul class="grid grid--flex grid--uniform">
    {% for collection in collections %}
      {%- if collection.template_suffix == 'artist-featured' -%}
        {% include 'artist-grid-item', collection: collection, class: 'medium--one-half large-up--one-quarter %}
      {%- endif -%}
    {% endfor %}
  </ul>

  <ul class="grid grid--flex grid--uniform">
    {% for collection in collections %}
      {%- if collection.template_suffix == 'artist' -%}
        {% include 'artist-grid-item', collection: collection, class: 'small--one-half medium--one-third large-up--one-fifth' %}
      {%- endif -%}
    {% endfor %}
  </ul>
</div>
